//Reset
#nav, #nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav #toggleMenu, #nav #hideMenu {
    display: none;
}

// Navbar wrap
.navbar-block {
    background-color: $navbar-color;
    background: linear-gradient(top, lighten($navbar-color, 20%) 0%, $navbar-color 100%);
    background: -moz-linear-gradient(top, lighten($navbar-color, 20%) 0%, $navbar-color 100%);
    background: -webkit-linear-gradient(top, lighten($navbar-color, 20%) 0%, $navbar-color 100%);
}

.navbar {
    height: $navbar-height;
    background: $navbar-color;
    background: linear-gradient(top, lighten($navbar-color, 20%) 0%, $navbar-color 100%);
    background: -moz-linear-gradient(top, lighten($navbar-color, 20%) 0%, $navbar-color 100%);
    background: -webkit-linear-gradient(top, lighten($navbar-color, 20%) 0%, $navbar-color 100%);
    padding-left: ($spacing-unit/2);
    padding-right: ($spacing-unit/2);
    margin-top: 0;
    margin-bottom: 0;
}

// Main navigation bar
#nav .primary-nav {
    z-index: 9999;
    position: relative;
    display: block;
}

#nav >.primary-nav>li {
    float: left;
    position: relative;
    height: $navbar-height;
}

// Alignment of Social Icons
#nav>.primary-nav>.right>a {
    padding: 0px;
    height: $navbar-height;
}

#nav>.primary-nav>.right [class*="icon-"] {
    display: block;
}

// Hover state of Social Icons
#nav>.primary-nav>.right [class*="icon-"]:hover {
    color: $navbar-hover-text-color;
}

// Main navigation links
#nav>.primary-nav>li>a {
    /* Layout */
    display: block;
    line-height: $navbar-height;
    padding: 0 12px;
    border-color: $secondary-color;

    /* Typography */
    font-family: $navbar-font-family;
    font-size: $navbar-font-size;
    font-weight: 700;
    color: $secondary-color;
    text-transform: uppercase;
    text-decoration: none;
	
    /* Transitions */
    -webkit-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

// Hover state of the links
#nav>.primary-nav>li:hover>a {
    color: $navbar-hover-text-color;
    border-top-color: #fff;
}

#nav>.primary-nav>li:hover {
    background: $navbar-hover-color;
    background: linear-gradient(top, lighten($navbar-hover-color, 20%) 0%, $navbar-hover-color 100%);
    background: -moz-linear-gradient(top, lighten($navbar-hover-color, 20%) 0%, $navbar-hover-color 100%);
    background: -webkit-linear-gradient(top, lighten($navbar-hover-color, 20%) 0%, $navbar-hover-color 100%);
}

// Active state of the links
#nav>.primary-nav>li.active {
    background: $navbar-active-color;
    background: linear-gradient(top, lighten($navbar-active-color, 20%) 0%, $navbar-active-color 100%);
    background: -moz-linear-gradient(top, lighten($navbar-active-color, 20%) 0%, $navbar-active-color 100%);
    background: -webkit-linear-gradient(top, lighten($navbar-active-color, 20%) 0%, $navbar-active-color 100%);
}

#nav>.primary-nav>li.active:hover {
    background: $navbar-hover-active-color;
    background: linear-gradient(top, lighten($navbar-hover-active-color, 20%) 0%, $navbar-hover-active-color 100%);
    background: -moz-linear-gradient(top, lighten($navbar-hover-active-color, 20%) 0%, $navbar-hover-active-color 100%);
    background: -webkit-linear-gradient(top, lighten($navbar-hover-active-color, 20%) 0%, $navbar-hover-active-color 100%);
}

#nav>.primary-nav>li.dropdown>a {
    padding-right: 28px;
    height: $navbar-height;
}

// Dropdown menu arrow
.dropdown>a::after {
    z-index: 9999;
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-top-color: inherit;
    right: ($navbar-height / 4);
    top: 48%;
}

// Submenus
#nav .primary-nav ul {
    z-index: auto;
    display: block;
    position: absolute;
    top: $navbar-height;
    left: -9999px;
    opacity: 0;
    background: $navbar-color;
    cursor: pointer;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition: opacity .22s ease-in-out;
    -ms-transition: opacity .22s ease-in-out;
    -moz-transition: opacity .22s ease-in-out;
    -o-transition: opacity .22s ease-in-out;
    transition: opacity .22s ease-in-out;
}

#nav .primary-nav ul li {
    display: block;
    position: absolute;
    height: 0px;
    -webkit-transition: height .15s ease-in-out;
    -ms-transition: height .15s ease-in-out;
    -moz-transition: height .15s ease-in-out;
    -o-transition: height .15s ease-in-out;
    transition: height .15s ease-in-out;
}

// Submenu appears when its parent is hovered
#nav>.primary-nav>li:hover>ul {
    left: 0px;
    opacity: 1;
}

#nav .primary-nav li:hover>ul>li {
    position: relative;
    height: auto;
}

// Submenu links
#nav .primary-nav ul li a {
    /* Layout */
    display: inline-block;
    padding: 7px 20px 7px 10px;
    width: $navbar-menu-width;

    /* Typography */
    font-family: $navbar-font-family;
    font-size: ($navbar-font-size * .92);
    text-decoration: none;
    color: $secondary-color;
    font-weight: 400;
	
    /* Background & effects */
    background: $navbar-color;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

// Change the link color on hover
#nav .primary-nav ul li:hover>a {
    color: $navbar-hover-text-color;
    background-color: $navbar-hover-color;
}

// Active state of the links
#nav>.primary-nav ul li.active>a {
    background-color: $navbar-active-color;
}
#nav>.primary-nav ul li.active:hover>a {
    background-color: $navbar-hover-active-color;
}

// ###########################################################

#nav>.primary-nav>li.subdropdown>a {
    padding-right: 28px;
}

// Dropdown menu arrow
.subdropdown>a::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-left-color: inherit;
    right: 5px;
    top: 42%;
}

// Subsubmenus
#nav .primary-nav ul>li>ul {
    top: 0px;
    opacity: 0;
}

#nav .primary-nav ul>li:hover>ul {
    left: $navbar-menu-width;
    opacity: 1;
}

// ###########################################################

.nav ul ul {
    display: none;
}

// Styling for mobile devices
@media screen and (max-width: 768px) {
    #nav .primary-nav {
	width: 100%;
	max-width: 768px;
	height: auto;
	background: $navbar-color;
    }

    #nav .primary-nav li {
	float: none;
	padding: 0 10px;
	display: none;
    }

    #nav>.primary-nav>li>a {
	line-height: 45px;
	padding: 0 10px;
    }

    #nav>.primary-nav li {
	background-color: $navbar-color;
	background: $navbar-color;
    }

    #nav>.primary-nav li:hover {
	background-color: $navbar-hover-color;
	background: $navbar-hover-color;
    }

    #nav>.primary-nav li.active {
	background-color: $navbar-active-color;
	background: $navbar-active-color;
    }

    #nav>.primary-nav li.active:hover {
	background-color: $navbar-hover-active-color;
	background: $navbar-hover-active-color;
    }

    .dropdown>a::after {
	display: none;
    }

    .subdropdown>a::after {
	display: none;
    }

    #nav .primary-nav ul {
	position: relative;
	top: 0px;
	left: 0px;
	right: auto;
	opacity: 1;
	clear: both;
	display: block;
    }

    #nav .primary-nav ul li,
    #nav>.primary-nav>li:hover>ul>li {
	height: auto;
	position: relative;
    }

    #nav .primary-nav ul li a {
	padding: 5px 10px;
	width: auto;
	display: block;
    }

    #nav .primary-nav ul>li>ul {
	top: 0px;
	opacity: 1;
    }

    #nav .primary-nav ul>li:hover>ul {
	left: 0px;
	height: auto;
	position: relative;
    }

    #nav .primary-nav li:hover>ul>li {
	height: auto;
    }

    #nav #toggleMenu {
	display: block;
	padding-left: 15px;
    }

    #nav #toggleMenu>a, #nav #hideMenu>a {
	padding: 0px 10px;
	z-index: 1;
	line-height: 45px;
    }

    #nav:target li {
	display: block;
    }

    #nav:target #toggleMenu {
	display: none;
    }

    #nav:target #hideMenu {
	display: block;
	background: rgba(0, 0, 0, .3);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding-left: 25px;
	padding: 0 15px 0 15px;
    }

    #nav #hideMenu>a {
	color: $secondary-color;
    }

    #toggleMenu>a::after, #hideMenu>a::after {
	position: absolute;
	content: "";
	right: 35px;
	top: 21px;
	height: 9px;
	width: 20px;
	border-top: 2px solid $secondary-color;
	border-bottom: 2px solid $secondary-color;
	z-index: 1;
    }

    #toggleMenu>a::before, #hideMenu>a::before {
	position: absolute;
	content: "";
	right: 35px;
	top: 13px;
	height: 3px;
	width: 20px;
	border-bottom: 2px solid $secondary-color;
	z-index: 1;
    }

    #hideMenu>a::after, #hideMenu>a::before {
	border-color: $secondary-color;
    }
	
    .navbar-block {
	background: $navbar-color;
    }

    .navbar {
	background-color: $navbar-color;
	height: $navbar-height;
	display: block;
	padding-left: 0;
	padding-right: 0;
	background: $navbar-color;
    }

    #nav>.right.primary-nav  {
	background-color: lighten($navbar-color, 10%);
    }

    #nav > .primary-nav > li {
	height: auto;
    }
} 

@media print {
    .navbar {
	display: none;
    }
}
