/**
 * Pagination
 */

.pagination {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    color: $pagination-text-color;
    vertical-align: middle;
}
.top {
    margin-bottom: 1em;
}
.bottom {
    margin-top: 2em;
}

.pagination li {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    line-height: $pagination-height;
    background: $pagination-color;
    width: $pagination-item-width;
}
.pagination li a {
    color: $pagination-text-color;
    display: block;
}
.pagination li.active a {
    color: $pagination-active-text-color;
}
.pagination li.active {
    background-color: $pagination-active-color;
}
.pagination li.disabled {
    cursor: default;
    color: $pagination-disabled-text-color;
    background: $pagination-disabled-color;
}
.pagination li.disabled a {
    cursor: default;
    color: $pagination-disabled-text-color;
}
.pagination li.pages ul li {
    display: inline-block;
    float: none;
}

@media only screen and (max-width: 768px) {
    .pagination {
	width: 100%;
    }
    .bottom {
	margin-bottom: 2em;
    }
    .pagination li.prev,
    .pagination li.next {
	width: 10%;
    }
    .pagination li.pages {
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
    }
}

@media print {
    .pagination {
	display: none;
    }
}
