<!DOCTYPE html>
<html>
  {% include subnav.html %}
  {% include head.html %}
  <body>
    <main class="wrap">
      {% include header.html %}
      {% include navigation.html %}
      <div class="row page-navigation">
      <ul class="breadcrumb">
        {% if subnav_title_size > 0 %}
          {% for title in subnav_title %}{% assign idx = forloop.index | minus: 1 %}<li><a href="{{ subnav_url[idx] }}">{{title}}</a></li>{% endfor %}
      {% endif %}
      </ul>
      </div>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
