---
layout: default
---
<ul class="ansible-links blog-navigation">
  {% if page.previous.url %}
  <li><span><a aria-role="button" class="ansible-link reference internal" href="{{ site.baseurl }}{{ page.previous.url }}">&larr; {{ page.previous.title }}</a></span></li>
  {% endif %}
  {% if page.next.url %}
  <li><span><a aria-role="button" class="ansible-link reference internal" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} &rarr;</a></span></li>
  {% endif %}
</ul>

<h1>{{ page.title }}</h1>
<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
{{ content }}
